<div class="window-body">
    <header class="blog-header">
        <h1>Resultado da pesquisa</h1>
        <p>Pensamentos rápidos entre bolhas e pixels.</p>
    </header>

    <main class="feed">
        <% data.forEach(post => { %>            
        <a href="/posts/<%= post._id %>" class="post-link">
            <article class="post">
                <span class="date"><%= post.created_at.toDateString() %></span>
                <p><%= post.title %></p>
            </article>
        </a>
        <% }) %>
    </main>
</div>