<nav class="navbar">
    <ul>
        <li><a href="/"><u>H</u>ome</a></li>
        <li><a href="#"><u>A</u>rquivos</a></li>
        <li><a href="#"><u>G</u>aleria</a></li>
        <li><a href="/about"><u>C</u>ontato</a></li>
    </ul>
</nav>