<div class="login-header">
    <img src="https://img.icons8.com/color/48/000000/shield-with-key.png" alt="Segurança">
    <p>Insira suas credenciais para acessar o painel.</p>
</div>

<form action="/admin" class="admin__form" method="POST">
    <div class="field-row-stacked">
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" placeholder="Username">
    </div>
    <div class="field-row-stacked">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Password">
    </div>
    
    <div class="form-footer">
        <button type="submit" class="btn-classic">OK</button>
        <button type="button" class="btn-classic">Cancelar</button>
    </div>
</form>
</div>